<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to the Projects Section</h1>
    <p class="col-md fs-4">This section contains 3 projects. Please click on the link to open the project. </p>
<ul>
    <li><a href="\assets\Data_Science.pdf" tabindex="-1" target="_blank" rel="noopener noreferrer">Data Science</a></li>
    <li><a href="\assets\Computer_Science.pdf" tabindex="-1" target="_blank" rel="noopener noreferrer">Computer Science</a></li>
    <li><a href="\assets\Information_Systems.pdf" tabindex="-1" target="_blank" rel="noopener noreferrer">Information Systems</a></li>
 </ul>    <br/>
<div [hidden]="loading" class="row" style="margin-bottom:15px;">
    <p class="col-md fs-4">You may upload all the projects that you have completed below.</p> 
    <div class="col-md-3">
        <div  ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="card bg-faded p-3 text-center mb-3 my-drop-zone">
            <i class="fa fa-upload fa-3x"></i>
            Drop file here
        </div>
        <div class="col-md-3">
            <!-- <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;"> -->
            <input type="file" #file ng2FileSelect [uploader]="uploader" />
            <!-- <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button> -->
          </div>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length" >

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="uploadFile(file.files)">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>
        <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
        </div>
</div>
</div>
  

  