<div class="container bg-light py-5">
 <h1 class="display-5 fw-bold">Welcome to the Quiz Section</h1>
    <p class="col-md fs-4">This quiz will contains total 10 questions. Each Question holds 1 Point.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 1 point.</li>
        <li>Incorrect question will not give you any points.</li>
        <li>You will have 60 sec to answer each question.</li>
        <li>Refereshing the page will reset the Quiz.</li>
        <li>Backtracking is not allowed.</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
    <h4>Please select the test you wish to write.</h4>
 <ul>
     <li><a routerLink="/data_science" tabindex="-1">Data Science</a></li>
     <li><a routerLink="/computer_science" tabindex="-1">Computer Science</a></li> 
     <li><a routerLink="/information_systems" tabindex="-1">Information Systems</a></li>
  </ul> 
</div>

 


